  <table>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @memberships.each do |membership| %>
  
    <tr>
      <td><%= membership.user.name %></td>
      <td><%= link_to 'Show', membership.user %></td>
      <td>
      <% unless membership.user == current_user%>
      <%= form_for(membership) do |f| %>
        <% Grouprole.all.each do |p| %>
          <%= f.radio_button :grouprole_id, p.id %>
          <%= f.label :grouprole_id, p.rolename %>
        <% end %> 
        
        
        <div class="actions">
            <%= f.submit %>
        <% end %>
      <% end %>
      </td>
      <td><%= link_to 'Destroy', membership, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  
  <% end %>
  </table>

