= div_for reply do
  #reply_box
    - if reply.body != nil
      = content_tag(:p, reply.body, :class => "comment-body")
      %p
        - if reply.user
          = link_to reply.user.end_user_name, reply.user
          |
        = time_ago_in_words(reply.created_at)
        %br/
        - @comment = Comment.find_by_id(reply.comment_id)
        = link_to_if(can?(:delete, Reply), 'Delete', [@post, @comment, reply], :method => :delete, :remote => true) {}
        %br/
    
