= div_for comment do
  - if comment.body != nil
    %table
      - if @voting_and_replies == 1
        %tr
          %td{:rowspan => 3, :width => 40}
            #votes_count
              %h3= comment.votes_for
              - if !current_user.voted_on?(comment)
                #small_text= link_to('Peukku', vote_up_post_comment_path(@post, comment), :method => :post, :remote => true)
      %tr
        %td{:width => 450}
          %h3
            - if comment.mulligan == true
              Mulligan:
            - if comment.mulligan == false
              Jatkolyönti:
            = comment.title
          %hr/
          = content_tag(:p, comment.body, :class => "comment-body")
          %br/
          %p
            =link_to comment.user.end_user_name, comment.user
            |
            = time_ago_in_words(comment.created_at)
        %td
        %td
          -if can? :manage, Comment
            = link_to 'Delete', [@post, comment], :method => :delete, :class => "delete", :remote => true

    #replies
      - if comment.replies.count > 0
        = render :partial => "replies/reply", :collection => comment.replies
    - if @voting_and_replies == 1
      #new_reply
        - form_for [@post, comment, Reply.new()], :method => :put, :remote => true, :id => "new_reply" do |f|
          .field
            = f.label :body, "Kommentoi vastausta"
            = f.text_field :body
          .actions
            =f.submit "Lähetä"
