
= hidden_field_tag :category, params[:category]
.widgetcontainer
  .widgettitle
    Hae avauksista
  .widgetcontent_links_links
    %table
      %tr
        %td
          = link_to "Kaikki"
        - @categories.each do |c|
          %td
            = link_to c.name, params.merge(:category => c.id, :page => nil)
    %table
      %tr
        %td
          - if can? :create, Opening
            %a{:href => new_opening_path} 
              <input type="button" value="Kirjoita uutinen" />
           
        %td
          = text_field_tag :search, params[:search]
          = submit_tag "Etsi", :name => nil
#emptyspace
- if @openings.count > 0
  .widgetcontainer
    .widgettitle
      Uusimmat
    .widgetcontent
      %table
        %tr
          %td{:width => 280}
            - if @openings != nil
              %table
                - @openings.each do |post|
                  %tr
                    %td{:rowspan => "4", :width => "80px"}
                      .post_excerpt_img= image_tag find_img_thumb(post)
                  %tr
                    %th
                      %h3= link_to post.title, post
                  %tr
                    %td
                      .post_excerpt_body
                        = truncate_html(post.body)
                  %tr
                    %td
                      - if post.user != nil
                        = link_to post.user.end_user_name, post.user
                        = time_ago_in_words(post.created_at)
                        sitten
                        %hr/
- else
  .widgetcontainer
    .widgetcontent
      Haku ei tuottanut tuloksia

%p
  =will_paginate @openings