.widgetcontainer
  .widgetcontent
    %h1= @opening.title
    %hr/
    %table
      %tr
        %td
          = link_to @opening.user.end_user_name, @opening.user
        %td
          = time_ago_in_words(@opening.created_at)
          sitten
        %td
          Katsottu
          = @opening.unique_impression_count
    = image_tag find_img_medium(@opening)
  
    :erb
      <%= @opening.body %>
    %br/
    %br/

    %br/
    %br/
    = link_to_if(can?(:edit, Opening), 'Muokkaa', edit_opening_path(@opening)) {}
    = link_to 'Takaisin', openings_path
    #comments_count
      = @comments.count
      kommenttia
    #comments
      - if @comments.count > 0
        = render :partial => "comments/comment", :collection => @comments
    #new_comment
      - semantic_form_for [@opening, Comment.new()], :remote => true, :id => "new_comment" do |f|
        = f.inputs do
          = f.input :title, :label => "Otsikko"
          = f.input :mulligan, :as => :radio, :collection => [['Mulligan', true],['Jatkolyönti', false]], :label => " "
          = f.input :body, :label => "Kommentti"
        = f.buttons do
          = f.commit_button "Lähetä"
    
