%p
  = link_to "KATEGORIAT", "/admin/dashboard/index"
  = link_to "POSTAUKSET", "/admin/dashboard/posts"
  = link_to "AVAUKSET", "/admin/dashboard/openings"
  = link_to "KÄYTTÄJÄT", "/admin/dashboard/users"
  = link_to "KENTÄT", "/admin/dashboard/courses"
  = link_to "LINKIT", "/admin/dashboard/links"