%table
  %tr
    %th Nimi
    %th Kirjoittaja
    %th Luotu
    
  - @videos.each do |video|
    %tr
      %td= video.name
      %td
        - if video.user != nil
          = video.user.end_user_name
      %td= video.created_at.to_s(:long)
      %td
        = link_to 'N채yt채', video
      %td
        = link_to 'Muokkaa', edit_video_path(video)
      %td
        = link_to 'Poista', video, :confirm => 'Are you sure?', :method => :delete
      = semantic_form_for video do |f|
        %td
          = f.submit "P채ivit채"
          
%br/
