%p
  = link_to "KATEGORIAT", "/admin/dashboard/index"
  = link_to "POSTAUKSET", "/admin/dashboard/posts"
  = link_to "KÄYTTÄJÄT", "/admin/dashboard/users"
  = link_to "KENTÄT", "/admin/dashboard/courses"
  = link_to "LINKIT", "/admin/dashboard/links"

%table
  %tr
    %th Category name
    %th
    %th
    %th

  - @categories.each do |category|
    %tr
      %td= category.name
      %td= link_to 'Show', category
      %td= link_to 'Edit', edit_category_path(category)
      %td= link_to 'Destroy', category, :confirm => 'Are you sure?', :method => :delete

%p= link_to 'New Category', new_category_path