=render 'links'
  
%table
  %tr
    %th Title
    %th Url
    %th Body
    %th
    %th
    %th
  - @links.each do |link|
    %tr
      %td= link.title
      %td= link.autolink.linkurl
      %td= link.body
      %td
        = link_to 'Näytä', link
      %td
        = link_to 'Edit', edit_link_path(link)
      %td
        = link_to 'Destroy', link, :confirm => 'Are you sure?', :method => :delete
%br/
.new_link
  = link_to 'New Link', new_link_path
