%p
  = link_to "KATEGORIAT", "/admin/dashboard/index"
  = link_to "POSTAUKSET", "/admin/dashboard/posts"
  = link_to "KÄYTTÄJÄT", "/admin/dashboard/users"
  = link_to "KENTÄT", "/admin/dashboard/courses"
  = link_to "LINKIT", "/admin/dashboard/links"

= form_tag posts_path, :method => 'get' do
  = submit_tag "Etsi", :name => nil

  = render :partial => 'posts'

  
-if can? :create, Post
  = link_to 'New Post', new_post_path
%br/
