%table
  %tr
    %th Strokes
    %th
    %th
    %th
  - @rounds.each do |round|
    %tr
      %td= round.strokes
      %td= link_to 'Show', user_round_path(@user, round)
      %td= link_to 'Edit', edit_user_round_path(@user, round)
      %td= link_to 'Destroy', [@user, round], :method => :delete, :confirm => "Are you sure?"
%br/
= link_to 'New Round', new_user_round_path(@user)
