- f.inputs do
  = f.input :email, :label => "Sähköposti"
  = f.input :name, :label => "Käyttäjätunnus", :hint => "Näkyy kaikille"
  = f.input :realname, :label => "Nimi", :hint => "Näkyy vain kavereille (ellei \"Näytä Nimi kaikille\" ole valittuna)"
  = f.input :privacy_name, :label => "Näytä Nimi kaikille"
  = f.label :avatar, "Profiilikuva"
  = f.file_field :avatar
  - if can? :edit, Role
    %p
      = f.label :role, "Rooli"
      - for role in Role.find(:all)
        %div
          = check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role)
          = role.name
  = f.input :favorites, :as => :check_boxes, :label => "Lempikentät"
  = f.semantic_fields_for :spec, @user.spec || Spec.new do |spec|
    = spec.input :start_year_of_golf, :as => :date, :discard_day => true, :discard_month => true, :start_year => Time.now.year, :end_year => 1920 , :default => { :year => 2011 }
    = spec.input :gender, :as => :radio, :collection => ["Mies", "Nainen"], :label => "Sukupuoli"