%h3= @user == @current_user ? "Käyttäjätilisi asetukset" : "Muokkaa käyttäjää"
%br/
=render "shared/error_messages", :target => @user
  
= form_for(@user, :html => { :method => :put, :multipart => true }) do |f|
  = render :partial => 'user_fields', :locals => { :f => f }
  - if @user.rpx_identifier == nil
    %p
      = f.label :password
      %i (leave blank if you don't want to change it)
      %br/
      = f.password_field :password
    %p
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation
 
  = f.submit "Päivitä", {:class => "button_s"}
  .button_s= link_to "Takaisin", :back
