.widgetcontainer
  .widgettitle
    Täytä ainakin pakolliset kohdat
  .widgetcontent
    = render "shared/error_messages", :target => @user

    = semantic_form_for @user, :html => {:multipart => true } do |f|
      = f.inputs do
        = f.input :email, :label => "Sähköposti"
        = f.input :name, :label => "Käyttäjätunnus", :hint => "Näkyy kaikille"
        = f.input :realname, :label => "Nimi", :hint => "Näkyy vain kavereille (ellei \"Näytä Nimi kaikille\" ole valittuna)"
      = render :partial => 'user_fields', :locals => { :f => f }
      %br/
      %p= f.label :password, "Salasana"
      %p= f.password_field :password
      %br/

      %p= f.label :password_confirmation, "Kirjoita salasana uudestaan"
      %p= f.password_field :password_confirmation
      %br/
      = f.submit "Rekisteröidy"
