.widgetcontainer
  .widgettitle
    = @user.name
  .widgetcontent
    %table
      %tr
        %td
          - if can? :manage, @user
            .button_s= link_to "Muokkaa", edit_user_path(@user)
        %td
    %table.one-column-emphasis
      %tbody
        %tr
          %td{:rowspan => "7"}= image_tag find_img_medium_user(@user)
        %tr
          %td.oce-first Nimi:
          %td= @user.end_user_name
        - if @user.spec
          - if @user.spec.hcp
            %tr
              %td.oce-first Tasoitus:
              %td= @user.spec.hcp
          - if @user.spec.course
            %tr
              %td.oce-first Kotikentt채:
              %td= @user.spec.course.name
          - if @user.spec.desc
            %tr
              %td.oce-first Pelaajan kuvaus:
              %td= @user.spec.desc
          %tr
            %td.oce-first Kirjautunut viimeksi:
            %td
              = time_ago_in_words(@user.last_sign_in_at)
              sitten
    %h2 K채ytt채j채n jakamat
    #posts
      = render :partial => 'posts'
    #links
      = render :partial => 'links'