.widgetcontainer
  .widgettitle
    = @user.name
  .widgetcontent
    %table
      %tr
        %td
          .button= link_to "Kierrokset", user_rounds_path(@user)
        %td
          - if can? :manage, @user
            .button_s= link_to "Edit", edit_user_path(@user)
            .button_s= link_to "Delete", user_path(@user), :confirm => "Are you sure?", :method => :delete
        %td
        %td
          - if current_user != @user
            - unless Friendship.exists? (current_user, @user)
              .button_s= link_to "Golfkaveripyyntö", { :controller => "friendship", :action => "create", :id => @user.id }, :confirm => "Lähetä golfkaveripyyntö käyttäjälle #{@user.end_user_name}"
      %tr
        %td
          =render :partial => 'friendship/friends'
        %td
        %td
        %td
          - if current_user != @user
            = friendship_status(current_user, @user)
    %table.one-column-emphasis
      %tbody
        %tr
          %td{:rowspan => "7"}= image_tag @user.avatar_url.to_s
        %tr
          %td.oce-first Name:
          %td= @user.name
        %tr
          %td.oce-first Role:
          %td= @user.roles.first.name
        - if can?(:see_timestamps,User)
          %tr
            %td.oce-first Created at:
            %td= @user.created_at
          %tr
            %td.oce-first Last Sign In:
            %td= @user.last_sign_in_at
          %tr
            %td.oce-first Sign In Count:
            %td= @user.sign_in_count
    %h2 Käyttäjän jakamat
    #posts
      = render :partial => 'posts'
    #links
      = render :partial => 'links'