- if @active_tab == "gogolf" # Home tab
  .buttonkoti
    = link_to image_tag("/images/layout/buttons/kotiaktiivinen.png", :alt => "GoGolf", :border => 0), "/site/index"
- else
  .buttonkoti
    = link_to image_tag("/images/layout/buttons/koti.png",:alt => "GoGolf", :mouseover => "/images/layout/buttons/kotiaktiivinen.png"), "/site/index"

- if @active_tab == "golftv" # Golf tv tab
  .buttontv
    = link_to image_tag("/images/layout/buttons/golftvaktiivinen.png",  :alt => "GoGolf", :border => 0), videos_path
- else
  .buttontv
    = link_to image_tag("/images/layout/buttons/golftv.png",  :alt => "GoGolf", :mouseover => "/images/layout/buttons/golftvaktiivinen.png"), videos_path

- if @active_tab == "goblogi" # Home tab
  .buttondeal
    = link_to image_tag("/images/layout/buttons/golfdiilitaktiivinen.png",  :alt => "GoGolf", :border => 0), posts_path(:user_id =>"29")
- else
  .buttondeal
    = link_to image_tag("/images/layout/buttons/golfdiilit.png",  :alt => "GoGolf", :mouseover => "/images/layout/buttons/golfdiilitaktiivinen.png"), posts_path
  
- if @active_tab == "goproduct" # Home tab
  .buttonguide
    = link_to image_tag("/images/layout/buttons/guideaktiivinen.png", :alt => "GoGolf", :border => 0), "/site/goproduct"
- else
  .buttonguide
    = link_to image_tag("/images/layout/buttons/golfguide.png", :alt => "GoGolf", :mouseover => "/images/layout/buttons/guideaktiivinen.png"), "/site/goproduct"
  

-#- if user_signed_in?
-#  - if @active_tab == "mygolf" # Home tab
-#    .buttonmygolf
-#      = link_to image_tag("/images/layout/buttons/mygolfaktiivinen.png",  :alt => "GoGolf", :border => 0), "/users/#{current_user.id}"
-#  - else
-#    .buttonmygolf
-#      = link_to image_tag("/images/layout/buttons/mygolf.png", :alt => "GoGolf", :mouseover => "/images/layout/buttons/mygolfaktiivinen.png"), "/users/#{current_user.id}"
-#- else
-#  - if @active_tab == "mygolf" # Home tab
-#    .buttonmygolf
-#      = link_to image_tag("/images/layout/buttons/mygolfaktiivinen.png",  :alt => "GoGolf", :border => 0), "/site/notuser"
-#  - else
-#    .buttonmygolf
-#      = link_to image_tag("/images/layout/buttons/mygolf.png", :alt => "GoGolf", :mouseover => "/images/layout/buttons/mygolfaktiivinen.png"), "/site/notuser"