.ui-widget
  - if !user_signed_in?
    .ui-widget-header{:class => "ui-corner-all"}
      Kirjautuminen
    .ui-widget-content
      %a.sign_in_button= "Kirjaudu sisään"
      #sign_in2= render :partial => 'devise/sessions/signin'
      %a
        .button_s= link_to "Rekisteröidy", "/users/new"
  -else
    .ui-widget-header
      Hei
      - if current_user.realname == nil
        = current_user.email
      - else
        = current_user.realname.split(' ').first
    .ui-widget-content
      %table
        %tr
          %td{:rowspan => "5"}
            = image_tag find_img_thumb_user(current_user)
        %tr
          %td Kirjoitukset
          %td= current_user.posts.count
        %tr
          %td Avaukset
          %td= current_user.openings.count
        %tr
          %td Julkaistut kommentit
          %td= current_user.comments.count
        %tr
          %td
      .button= link_to "Kirjaudu ulos", destroy_user_session_path
