.ui-widget
  .ui-widget-header{:class => "ui-corner-all"}
    Yhteistyökumppanit
  .ui-widget-content
    %center=link_to image_tag('/images/Vallila.jpg', :height => 140), 'http://www.vallilainterior.fi'
.ui-widget
  .ui-widget-header{:class => "ui-corner-all"}
    Luetuimmat
  .ui-widget-content
    #luetuimmat
      %h4
        Uutiset
        %hr/
        %ul
          - @top5_posts_of_week.each do |post|
            %li
              = link_to post.title, post
              %br/
              %i
                = link_to post.user.end_user_name, post.user
                |
                = post.unique_impression_count
      %h4
        Avaukset
        %hr/
        %ul
          - @top5_openings_of_week.each do |post|
            %li
              = link_to post.title, post
              %br/
              %i
                = link_to post.user.end_user_name, post.user
                |
                = post.unique_impression_count
              %br/
.ui-widget
  .ui-widget-content
    =link_to image_tag('/images/ringsidegolf-mainos.jpg',:width => 250, :alt => "Ringside Golf"), 'http://www.ringsidegolf.fi'
.ui-widget
  .ui-widget-header{:class => "ui-corner-all"}
    Viihde
  .ui-widget-content
    #luetuimmat
      %h4
        Parhaat linkit
        %hr/
        %ul
          - @top5_links.each do |link|
            %li
              = link_to link.title, link
              %br/
              %i
                = link_to link.user.end_user_name, link.user
                |
                = link.votes_for
              %br/
.ui-widget
  .ui-widget-content{:class => "ui-corner-all"}
    = link_to "YHTEYSTIEDOT JA EHDOT", "/site/help"