#cfnavbar
  %ul
    - if @active_tab == "gogolf"
      %li= nav_link "Etusivu", "/site"
      %li= link_to "Postaukset", posts_path(:user_id =>"29")
      
      %li= nav_link "GoGolf Oy", "site", "goproduct"
      -#%li= nav_link "Toimituksen valinta", "site", "topic"
      -#%li= nav_link "Avaukset", openings_path
    - elsif @active_tab == "goblogi"
      %li=link_to "Niken",posts_path(:user_id => "29") 
      %li=link_to "Hannin",posts_path(:user_id => "31") 
      %li=link_to "GoGolf",posts_path(:user_id => "34") 
      -# => <a href="/searches?foo=bar&amp;baz=quux">Nonsense search</a>
      -#%li= nav_link "Viihde", links_path MPU
    - elsif @active_tab == "golftv"
      %li= nav_link "GoGolfTV", videos_path
    - elsif @active_tab == "goguide"
      %li= nav_link "Opas", "site","guide"
      %li= link_to "Kentät"
      %li= link_to "Opetus"
      %li= link_to "Aloittelijat"
    - elsif @active_tab == "godeal"  
      %li= nav_link "Diilit", deals_path
      - if user_signed_in?
        %li= link_to_unless_current "Ostokset", "/users/#{current_user.id}/orders"
    - elsif @active_tab == "mygolf"
      - if user_signed_in?
        %li= link_to_unless_current "Oma Golf", "/users/#{current_user.id}"
        
