#new_event
  = semantic_form_for @event do |f|
    = f.inputs do
      .field
        = f.hidden_field :private
      = f.input :name, :label => "Nimi"
      = f.autocompleted_input :course_name, :label => "Kenttä", :url => autocomplete_course_name_events_path, :id_element => "#course_id", :hint => "Aloita kirjoittamaan ja valitse"
      = f.hidden_field :course_id, :id => "course_id"
      = f.input :game_type, :label => "Pelimuoto"
      = f.input :start_time, :as => :date, :label => "Esimerkki päivämäärä", :include_blank => false, :start_year => Time.now.year, :end_year => Time.now.year
      = f.input :desc, :label => "Kuvaus"
    - if @private == true
      = f.label :attendee_ids, "Kutsu kavereita"
      - for attendee in current_user.friends
        %div
          = check_box_tag "attendee_ids[]", attendee.id
          = attendee.end_user_name
    .actions
      = f.submit 'Luo tapahtuma'
