#new_event
  = form_for @event do |f|
    .field
      = f.hidden_field :private
    .field
      = f.label :name, "Pelin nimi*"
      %br/
      = f.text_field :name
    .field_small
      = f.label :course, "Kenttä*"
      %br/
      = f.autocomplete_field :course_name, autocomplete_course_name_events_path, :id_element => "#course_id"
      = f.text_field :course_id, :id => "course_id"
    .field_small
      = f.label :game_type, "Pelimuoto*"
      %br/
      = f.text_field :game_type
    .field
      = f.label :start_time, "Kierroksen arvioitu aika*"
      %br/
      = f.datetime_select :start_time
    .field
      = f.label :desc, "Kuvaus"
      %br/
      = f.text_area :desc
    - if @private == true
      = f.label :attendee_ids, "Kutsu pelaajia"
      - for attendee in User.all
        %div
          = check_box_tag "attendee_ids[]", attendee.id
          = attendee.end_user_name
        =# f.label "Valitse pelikaverit"
        =# f.autocomplete_field :attendee_email, autocomplete_attendee_email_event_attendances_path
        =# f.text_field_tag 'email', '', :autocomplete => autocomplete_user_email_event_attendances_path
    .actions
      = f.submit 'Luo tapahtuma'
