.widgetcontainer
  .widgetcontent
    %table
      %tr
        %td Tuote
        %td Määrä
        %td Hinta
        %td Tila
        %td Koodi
      %tr
        %td= link_to @order.deal.name, @order.deal
        %td= @order.quantity
        %td
          = @order.total_price
          €
        %td
          - if @order.status == "created"
            Odottaa maksua
          - else
            = @order.status
        %td
          - if @order.status == "Maksettu"
            = @order.code
        - if @order.status == "created" && @order.deal.visible == true
          %td
            - form_tag "https://www.paypal.com/cgi-bin/webscr" do 
              = hidden_field_tag :cmd, '_s-xclick'
              = hidden_field_tag :encrypted, @order.paypal_encrypted(user_order_url(@order.user, @order), payment_notifications_url(:secret => "fdsakjsdf77fd"))
              = submit_tag "Siirry maksamaan", :class => "button"
              
    - if @order.status == "Maksettu"
      Tilausnumero #
      = @order.id
      %br/
      Maksettu
      = @order.updated_at
      %br/
      Käyttäjä
      = current_user.realname
      %br/
      %br/
      %table
        %tr
          %td
            Toimitus:
            - if @order.deal.dealtype
              - if @order.deal.dealtype == "Väline"
                %b 
                  NOUTO PELTOMÄKI GOLFISTA MAKSUN JÄLKEEN SAATAVALLA KOODILLA JA NIMELLÄ
                  = link_to "www.peltomakigolf.fi", "http://www.peltomakigolf.fi/"
              - if @order.deal.dealtype == "Treenit"
                %b SAAVU TREENEIHIN MUKANASI MAKSUN JÄLKEEN SAATAVA KOODI
              - if @order.deal.dealtype == "Hieromatuli"
                %b TUOLI TOIMITETAAN PÄÄKAUPUNKISEUDULLE ILMAISEKSI

      %br/
      %br/
      %i Muista pitää koodi turvassa