= form_for(@link) do |f|
  .field
    = f.label :title, "Otsikko"
    %br/
    = f.text_field :title
  .field
    = f.label :body, "Kuvaus"
    %br/
    #new_event
      = f.text_area :body
  #comment_form
    = f.fields_for :autolink do |t|
      .field
        = t.label :linkurl, "Osoite"
        %br/
        = t.text_field :linkurl
  .actions
    = f.submit 'Jaa linkki'