.widgetcontainer
  .widgettitle{:class => "ui-corner-all"}
    Uusimmat
  .widgetcontent
    - if can? :create, Link
      .new_link
        .button_s= link_to 'Jaa linkki tai video', new_link_path
    - @links.each do |link|
      %table
        %tr
          %td= link.title
          %td= link.autolink.linkurl_html
          %td= link.body
        %tr
          %td
            - if can? :read, @link
              = link_to 'Näytä', link
          %td
            - if can? :edit, @link
              = link_to 'Edit', edit_link_path(link)
          %td
            - if can? :destroy, @link
              = link_to 'Destroy', link, :confirm => 'Are you sure?', :method => :delete
    %br/

