=render :partial => 'shared/link_links'

.widgetcontainer
  .widgettitle{:class => "ui-corner-all"}
    Parhaat
  .widgetcontent
    #popular_links
      
      

.widgetcontainer
  .widgettitle{:class => "ui-corner-all"}
    Uusimmat
  .widgetcontent
    - if can? :create, Link
      .new_link
        .button_s= link_to 'Jaa linkki tai video', new_link_path
    %h2 Videot
    %table
      - if @videos
        - @videos.each do |link|
          %tr
            %td= link.title
            %td
              = link.autolink.linkurl_html
              %i=link.autolink.linkurl
            %td= link.body
    %h2 Linkit
    %table
      - if @links
        - @links.each do |link|
          %tr
            %td= link.title
            %td= link.autolink.linkurl_html
            %td= link.body

    %h2 Kuvat
    %table
      - if @pictures
        - @pictures.each do |link|
          %tr
            %td= link.title
            %td
              = link.autolink.linkurl_html
              %i=link.autolink.linkurl
            %td= link.body
    %br/

