- div_for deal do
  %p
    %b Name:
    = deal.name 
  %p
    %b Price:
    = deal.price 
  %p
    %b Desc:
    = deal.desc 
  %p
    %b Quantity:
    = deal.quantity
  %p
    - form_for @order do |f|
      .field
        = f.label :quantity, "Määrä"
        = f.text_field :quantity, :value => "1"
      .field
        = f.hidden_field_tag :deal_id, deal.id
      .actions
        = f.submit "Osta"

  = link_to 'Edit', edit_deal_path(deal)  |
  = link_to 'Back', deals_path 
