= semantic_form_for @deal, :html => {:multipart => true} do |f|
  = f.inputs do
    = f.input :name, :label => "Tuotteen nimi"
    = f.input :price, :label => "Hinta/kpl"
    = f.input :visible, :as => :radio, :label => "Näkyvissä"
    = f.input :desc, :label => "Kuvaus"
    = f.input :dealtype, :as => :radio, :collection => ["Treenit", "Väline", "Hieromatuoli"]
    = f.input :quantity, :label => "Myynnissä oleva määrä"
    = f.label :photo, "Kuva!"
    = f.file_field :photo
    
    %br/
    %br/
  .actions
    = f.submit 
