.widgetcontainer
  .widgettitle
    = @deal.name 
  .widgetcontent
    %table
      %tr
        %td{:width => 300}
          - if @deal.photo
            = image_tag find_img_medium_deal(@deal),:width=>"200"
        %td{:class => "link2"}
          = @deal.desc
    %table
      %tr
        %td
          Hinta
          %b= @deal.price
          €
        %td
          Tuotteita jäljellä
          %b= @deal.quantity

    %table
      %tr
        %td{:class => "link"}
          Toimitus:
          - if @deal.dealtype
            - if @deal.dealtype == "Väline"
              %b 
                NOUTO PELTOMÄKI GOLFISTA MAKSUN JÄLKEEN SAATAVALLA KOODILLA JA NIMELLÄ
                = link_to "www.peltomakigolf.fi", "http://www.peltomakigolf.fi/"
            - if @deal.dealtype == "Treenit"
              %b SAAVU TREENEIHIN MUKANASI MAKSUN JÄLKEEN SAATAVA KOODI
            - if @deal.dealtype == "Hieromatuli"
              %b TUOLI TOIMITETAAN PÄÄKAUPUNKISEUDULLE ILMAISEKSI