<table>
  <tr>
    <td>
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <p><%= f.label :email, "Sähköposti" %><br />
        <%= f.text_field :email %></p>

        <p><%= f.label :password, "Salasana" %><br />
        <%= f.password_field :password %></p>

        <% if devise_mapping.rememberable? -%>
          <p><%= f.check_box :remember_me %> <%= f.label :remember_me, "Muista minut" %></p>
        <% end -%>

        <%= f.submit "Kirjaudu", :class => 'button_s' %></p>
      <% end %>

      <%= render :partial => "devise/shared/links" %>
    </td>
    <td>
    <%= embed_rpx user_session_url %>
    </td>
    </table>