<table>
  <tr width='400' >
    <td>
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <p align="right" ><%= f.label :email, "Email" %>
        <%= f.text_field :email %>
        <br>

        <%= f.label :password, "Salasana" %>
         <%= f.password_field :password %>
        <br>
        <% if devise_mapping.rememberable? -%>
         <%= f.check_box :remember_me %> <%= f.label :remember_me, "Muista minut" %>
        <% end -%>
        <%if !user_signed_in?%>
          <%= f.submit "Kirjaudu" %>
        <%else%>
          <a href=<%=destroy_user_session_path%>>
              <input type="button" value="Kirjaudu ulos" /></a>
        <% end -%>
        
      <% end %>
      <br></p>
      <%-#= render :partial => "devise/shared/links" %>
    </td>
    </table>