.widgetcontainer
  .widgettitle
    Uutiset
  .widgetcontent_editors_pick
    #recentposts
      %table
        %tr
          %td{:width => "300"}
            - if @recent_posts != nil
            
              - @recent_posts.first(1).each do |post|
                %table
                  %tr
                    %td{:width => "280"}
                      %img{:src => find_img_medium(post), :class => "align-right", :height => "120", :width => "260"}
                  %tr
                    %th
                      %h3= link_to post.title, post
                  %tr
                   
                    %td{:rowspan => "4", }
                      .post_excerpt_body
                        = truncate_html(post.body)
                    
      %table
        %tr
          %td{:width => "300"}
            - if @top5_posts_of_week != nil
              - cnt = 0
              - @top5_posts_of_week.each do |post|
                - cnt += 1
                - if cnt >1
                  %table
                    %tr
                      %th{:width => "180"}
                        %h3= link_to post.title, post
                    %tr
                   
                      %td{:rowspan => "4", }
                        .post_excerpt_body
                          = truncate_html(post.body)
                      %td{:rowspan => "4"}
                        .post_excerpt_img= image_tag find_img_thumb(post)
                 
                  
                   
                 
               
   