.widgetcontainer{:class => "ui-corner-all"}
  .widgettitle{:class => "ui-corner-all"}
    Toimituksen valinta
  .widgetcontent_editors_pick{:class => "ui-corner-all"}
    #feature_list
      %ul#tabs
        %li
          %a{:href => "javascript:;"}
            %h3= @recent_posts.first.title
            %span
              = @recent_posts.first.user.end_user_name
        %li
          %a{:href => "javascript:;"}
            %h3= @recent_posts.second.title
            %span
              = @recent_posts.second.user.end_user_name
        %li
          %a{:href => "javascript:;"}
            %h3= @recent_posts.third.title
            %span
              = @recent_posts.third.user.end_user_name
          
      %ul#output
        %li
          %img{:src => find_img_medium(@recent_posts.first), :class => "align-right", :minheight => "240", :width => "435"}
            %a{:href => "#"}Lue lisää
        %li
          %img{:src => find_img_medium(@recent_posts.second), :class => "align-right", :minheight => "240", :width => "435"}
            %a{:href => "#"}Lue lisää
        %li
          %img{:src => @recent_posts.third.photo.url, :minheight => "240", :width => "435"}
            %a{:href => "#"}Lue lisää

    %ul#description1
      %li
        %span
          = truncate(@recent_posts.first.body, :length => 70, :separator => ' ').html_safe
      %li
        %span
          = truncate(@recent_posts.second.body, :length => 70, :separator => ' ').html_safe
      %li
        %span
          = truncate(@recent_posts.third.body, :length => 70, :separator => ' ').html_safe
%br/
.widgetcontainer{:class => "ui-corner-all"}
  .widgettitle{:class => "ui-corner-all"}
    Viikon avaukset
  .widgetcontent
    %table
      %tr
        %td
          %h3= @uusin_niken_juttu.title
      %tr
        %td
          %table
            %tr
              %th
                = link_to @nikke.realname, @nikke
              %th
                Vieraskirjoittaja
            %tr
              %td
                = image_tag @nikke.avatar_url(:thumb).to_s
                = truncate(@uusin_niken_juttu.body, :length => 70, :separator => ' ').html_safe
              %td
                = image_tag @nikke.avatar_url(:thumb).to_s
                = truncate(@uusin_niken_juttu.body, :length => 70, :separator => ' ').html_safe
%br/
.widgetcontainer{:class => "ui-corner-all"}
  .widgettitle{:class => "ui-corner-all"}
    Ajankohtaista
  .widgetcontent{:class => "ui-corner-all"}
    #recentposts
      - if @recent_posts != nil
        - @recent_posts.each do |post|
          %table
            %tr
              %td{:rowspan => "5", :width => "80px"}
                .post_excerpt_img= image_tag find_img_thumb(post)
            %tr
              %th
                %h3= link_to post.title, post
            %tr
              %td
                .post_excerpt_body
                  = truncate(post.body, :length => 70, :separator => ' ').html_safe
            %tr
              %td
            %tr
              %td
                Kirjoittanut
                - if post.user != nil
                  = link_to post.user.end_user_name, post.user
                  = post.created_at.to_s(:long)
%br/
.widgetcontainer{:class => "ui-corner-all"}
  .widgettitle{:class => "ui-corner-all"}
    Uusimmat linkit
  .widgetcontent{:class => "ui-corner-all"}
    - if @recent_links != nil
      - @recent_links.each do |link|
        %table
          %tr
            %th
              %h3= link_to link.title, link.autolink.linkurl
          %tr
            %td
              = link.body
          %tr
            %td
              %p 
                Kirjoittanut
                - if link.user != nil
                  = link_to link.user.end_user_name, link.user
                  = link.created_at.to_s(:long)