-#= render 'mygolf'
-#emptyspace

.widgetcontainer
	.widgettitle
		AJANKOHTAISTA
	.widgetcontent
		#generaltitle
			.mainpagetext
				%p
					Hei, ja mahtavaa kun tulit käymään! Joulukuussa täällä seurataan paikan päältä käsin Euroopan Tourin finaaleita ja Dubain Golf sceneä. Ensin pelataan Dubai World Championship 7-11.12 ja heti perään naisten kisa Omega Dubai Ladies Masters 14-17.12.
				%p
					Nikke ja Juho raportoivat omalla letkeällä tyylillään tunnelmia suoraan paikan päältä. Jos olet vielä näidenkin videoiden jälkeen sitä mieltä, että golf on tylsää, otamme sinut seuraavalle reissulle mukaan ja todistamme luulosi vääräksi.
				%p
					Voit lopettaa joululahjoista stressaamisen. Meillä on nimittäin mukana upeita yhteistyökumppaneita. Tykkää videoista ja voita pukinkonttiin mm. Igor Designin putteri ja St. Laurencen peliliput.
				%p
					Iso kiitos myös Golfpisteelle, joka on tälläkin kertaa vahvasti mukana. Golfpisteen sivuilta löydät videoiden lisäksi perinteiseen tapaan myös kisauutiset.
				%p
					Tervetuloa mukaan!
#emptyspace
.widgetcontainer
	%table
		%tr
			%td
				%a{:href=>"http://www.facebook.com/pages/Golf-Center-Oy/136608179780910"}
					%img{:src => "/images/golfcenter_banneri.jpg", :alt => "GoGolf.fi", :height => "250", :width => "300"}  
			%td
			%td{:class=>"right"}
				%a{:href=>"http://www.korukolmio.fi/ystavamyynti-joulumyyjaiset/"}
					%img{:src => "/images/korukolmio_banneri.jpg", :alt => "GoGolf.fi", :height => "250", :width => "300"}  
#emptyspace
.widgetcontainer
	.widgettitle
		UUSIN VIDEO
	.widgetcontent
		-@videos.each_with_index do |v,index|
			-if @vimeo[index] == true
				%iframe{:src=>"http://player.vimeo.com/video/#{@videonumber[index]}", :width=>"697", :height=>"400", :autoplay=>"1"}
				-#<iframe src="http://player.vimeo.com/video/30484462?title=0&amp;byline=0&amp;portrait=0" width="697" height="455" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
			-else
				%object{:width =>"697", :height =>"400"}
					%embed{:src => "http://www.youtube.com/v/#{@videonumber[index]}", :type => "application/x-shockwave-flash", :wmode => "transparent", :width => "697", :height => "400"}  
 
			#gamers_list
				%ul#tabit
					%a{:href => videos_url}
						%li.first
	          
							#title
								%span.text
									=v.name
	          
							#title
								=v.user.end_user_name
								%span.border
								%span.day=v.created_at.strftime("%d.%m %Y")
							%span
								=v.content
		#generaltitle
			.text
				%a{:href=>videos_url}
					Katso kaikki videot
-@recent_posts.each_with_index do |v,index|
	<input type="hidden" id="numero#{index+1}" value="#{v.title}" />
#emptyspace
.widgetcontainer
	.widgettitle
		UUSIMMAT POSTAUKSET 
		
	.widgetcontent
		#mikon
		%ul#slider
			-@recent_posts.each_with_index do |v,index|
				%li
					%a{:href => posts_path(:user_id => v.user.id,:id=>v.id) }
						#generaltitle
							Postaus
							%span.border
							%span.day=v.created_at.strftime("%d.%m %Y")
							%br
							%span.text
								-if v.user.end_user_name == "GoGolf johtaja"
									GOGOLF -
								-if v.user.end_user_name == "Hanni"
									GOGOLF -
								-if v.user.end_user_name == "MIkko P"
									NIKKE -
								=v.title
							
					#post_text
						%img{:src => find_img_medium(v),:class => "right", :height => "300", :width => "400"}
						
					
					#post_text
						= truncate_html(v.body.last(v.body.size),:length => 950).html_safe 
					#post_text
						%a{:href=>posts_path(:user_id => v.user.id,:id=>v.id)}
							Lue lisää
-#
	%table
	%tr
	%td
	= link_to v.user.end_user_name, v.user
	%td
	= time_ago_in_words(v.created_at)
	sitten
	%td
	Katsottu:	
	= v.unique_impression_count

-#
	#emptyspace
	.widgetcontainer
	.widgettitle
	Pelaajilta
	.widgetcontent 
	-if @openings != nil
	%img{:src => find_img_medium(@openings.first),:height => "260", :width => "697"}         
	#gamers_list
	%ul#tabit
	%li.first
	  
	#title
	%span.text
	=@openings.first.title
	
	#title
	=@openings.first.user.end_user_name
	%span.border
	%span.day=@openings.first.created_at.strftime("%d.%m %Y")
	%span
	= truncate_html(@openings.first.body,:length => 250).html_safe 
	
	- @openings.each_with_index do |post,index|
	-if index !=0
	%a{:href => opening_path(post)}
	%li.rest
	%img{:src => find_img_medium(post),:height => "110", :width => "180"}
	#title
	%span.text
	=post.title
	  
	#title
	=post.user.end_user_name
	%span.border
	%span.day=post.created_at.strftime("%d.%m %Y")
	%span
	= truncate_html(post.body,:length => 250).html_safe
	  
		        						
					
-content_for :sidebar do
	.widgetcontainer
		.widgetsidebartitle	
			Mikä on GoGolf?
		.widgetcontent
			%a{:href=>"goproduct"}
				.writenewpostplease
					GoGolf on meidän tapamme seurata ja pelata golfia. Lähde mukaan ja huomaa, että golf on huomattavasti hauskempaa GoGolfin tapaan
	#emptyspace	
-#	
	-if @dealssit.first != nil
	.widgetcontainer
	.widgetsidebartitle
	GOGOLF SUOSITTAA
	.widgetcontent
	#side_list
	%ul#tabs
	%a{:href=> post_url(@dealssit.first)}
	%img{:src => find_img_medium(@dealssit.first),:class => "right", :height => "51", :width => "51"}
	%li
	= @dealssit.first.title
	
	#emptyspace

-#@videos.each_with_index do |v,index|
-#	<input type="hidden" id="numero#{index+1}" name="age" value="#{v.name}" />


-#           
	#emptyspace
	.widgetcontainer
	.widgettitle
	Toimituksen valinta
	.widgetcontent
	#feature_list
	%ul#tabs
	- @editors_picks_opening.each do |post|
	%li
	%a{:href => "javascript:;"}
	#title
	%span.text AVAUS
	%span.border    
	
	= post.user.end_user_name
	%span.day= post.created_at.strftime("%d.%m %Y")
	%span
	    
	   
	= truncate_html(post.body,:length => 200).html_safe 
	- @editors_picks_post.each do |post|
	%li
	%a{:href => "javascript:;"}
	#title
	%span.text KIRJOITUS
	%span.border    
	
	= post.user.end_user_name
	%span.day= post.created_at.strftime("%d.%m %Y")
	%span
	    
	   
	= truncate_html(post.body,:length => 200).html_safe 
	                
	          
	%ul#output
	- @editors_picks_post.each do |post|
	%li
	%img{:src => find_img_medium(post), :class => "align-right",:height => "390", :width => "420"}
	%a{:href => posts_url(post)} Lue lisää




-#
	
        
	<div id="wrapper">
		
	<img src="images/missing.jpg" alt="moving boxes" />
	
	<div id="slider">    
	
	<img class="scrollButtons left" src="images/leftarrow.png">
	
	<div style="overflow: hidden;" class="scroll">
	
	<div class="scrollContainer">
	
	<div class="panel" id="panel_1">
	<div class="inside">
	<img src="images/missing.jpg" alt="picture" />
	<h2>News Heading</h2>
	<p>A very shot exerpt goes here... <a href="http://flickr.com/photos/justbcuz/112479862/">more link</a></p>
	</div>
	</div>
	
	<div class="panel" id="panel_2">
	<div class="inside">
	<img src="images/missing.jpg" alt="picture" />
	<h2>News Heading</h2>
	<p>A very shot exerpt goes here... <a href="http://flickr.com/photos/joshuacraig/2698975899/">more link</a></p>
	</div>
	</div>
	
	<div class="panel" id="panel_3">
	<div class="inside">
	<img src="images/missing.jpg" alt="picture" />
	<h2>News Heading</h2>
	<p>A very shot exerpt goes here... <a href="http://flickr.com/photos/ruudvanleeuwen/468309897/">more link</a></p>
	</div>
	</div>
	
	<div class="panel" id="panel_4">
	<div class="inside">
	<img src="images/missing.jpg" alt="picture" />
	<h2>News Heading</h2>
	<p>A very shot exerpt goes here... <a href="http://flickr.com/photos/emikohime/294092478/">more link</a></p>
	</div>
	</div>
	
	<div class="panel" id="panel_5">
	<div class="inside">
	<img src="images/missing.jpg" alt="picture" />
	<h2>News Heading</h2>
	<p>A very shot exerpt goes here... <a href="http://flickr.com/photos/fensterbme/499006584/">more link</a></p>
	</div>
	</div>
	
	</div>
	
	<div id="left-shadow"></div>
	<div id="right-shadow"></div>
	
	</div>
	
	<img class="scrollButtons right" src="images/rightarrow.png">
	
	</div>
	    
	</div>
	   
	  
-#
	.widgetcontainer
	#gamers_list
	%ul#tabit
	%li.first
	  
	#title
	%span.text
	Mihin pyrimme
	  
					
	%img{:src => "/images/missing.jpg", :height => "94", :width => "200",:align=>"right"} 
	
	%span
	Helpottamaan golfaamista
	%br
	Madaltamaan kynnystä aloittamiselle
	%br
	Murtamaan käsityksiä
	%li.first
	  
	#title
	%span.text
	Mitä olemme 
	  
					
	%img{:src => "/images/missing.jpg", :height => "94", :width => "200",:align=>"right"} 
	
	%span
	Helpottamaan golfaamista
	%br
	Madaltamaan kynnystä aloittamiselle
	%br
	Murtamaan käsityksiä
	%li.first
	  
	#title
	%span.text
	Mitä teemme
	  
	%img{:src => "/images/missing.jpg", :height => "94", :width => "200",:align=>"right"} 
	%span
	Helpottamaan golfaamista
	%br
	Madaltamaan kynnystä aloittamiselle
	%br
	Murtamaan käsityksiä
					
			
	
	
	
	-##emptyspace
	-#= render :partial => 'golfguide'
	
	-#emptyspace