.widgetcontainer{:class => "ui-corner-all"}
  .widgettitle{:class => "ui-corner-all"}
    Toimituksen valinta
  .widgetcontent_editors_pick{:class => "ui-corner-all"}
    #feature_list
      %ul#tabs
        - @editors_picks.each do |post|
          %li
            %a{:href => "javascript:;"}
              %h3= post.title
              %span
                = post.user.end_user_name
          
      %ul#output
        - @editors_picks.each do |post|
          %li
            %img{:src => find_img_medium(post), :class => "align-right", :minheight => "240", :width => "435"}
              %a{:href => opening_url(post)}Lue lisää

    %ul#description1
      - @editors_picks.each do |post|
        %li
          %span
            = truncate_html(post.body).html_safe
= link_to image_tag('/images/peltomaki2.gif', :alt => "Peltomäki Golf", :class => "padding_left"), 'http://www.peltomakigolf.fi'
%br/
.widgetcontainer{:class => "ui-corner-all"}
  .widgettitle{:class => "ui-corner-all"}
    Viikon avaukset
  .widgetcontent_editors_pick
    #recentposts
      %table
        %table
          %tr
            %th{:width => 280}
              %b Niken avaus
            %th
              %b Vieraskirjoittaja
      %table
        %tr
          %td{:width => 280}
            - if @uusin_nikke_avaus.first != nil
              %table
                %tr
                  %td{:rowspan => "4"}
                    = image_tag find_img_thumb_user(@uusin_nikke_avaus.first.user)
                %tr
                  %th
                    %h3= link_to @uusin_nikke_avaus.first.title, @uusin_nikke_avaus.first
                %tr
                  %td
                    .post_excerpt_body
                      = truncate_html(@uusin_nikke_avaus.first.body).html_safe
                %tr
                  %td
                    - if @uusin_nikke_avaus.first.user != nil
                      = link_to @uusin_nikke_avaus.first.user.end_user_name, @uusin_nikke_avaus.first.user
                      = time_ago_in_words(@uusin_nikke_avaus.first.created_at)
                      sitten
                      %hr/
          %td
            - if @uusin_vieras_avaus.first != nil
              %table
                %tr
                  %td{:rowspan => "4"}
                    = image_tag find_img_thumb_user(@uusin_vieras_avaus.first.user)
                %tr
                  %th
                    %h3= link_to @uusin_vieras_avaus.first.title, @uusin_vieras_avaus.first
                %tr
                  %td
                    .post_excerpt_body
                      = truncate_html(@uusin_vieras_avaus.first.body).html_safe
                %tr
                  %td
                    - if @uusin_vieras_avaus.first.user != nil
                      = link_to @uusin_vieras_avaus.first.user.end_user_name, @uusin_vieras_avaus.first.user
                      = time_ago_in_words(@uusin_vieras_avaus.first.created_at)
                      sitten
                      %hr/
%br/

= render :partial => 'news'
= render :partial => 'openings'
= image_tag('/images/banner-chair.gif', :alt => "Casada-hierontatuoli", :class => "padding_left")
= render :partial => 'links'