.widgetcontainer{:class => "ui-corner-all"}
  .widgettitle{:class => "ui-corner-all"}
    Viikon avaus
  .widgetcontent
    %table
      %tr
        %td
          %h3= @uusin_niken_juttu.title
      %tr
        %td
          %table
            %tr
              %td
                = image_tag find_img_thumb(@uusin_niken_juttu)
                = @uusin_niken_juttu.body.html_safe
              %td
                = image_tag find_img_thumb(@uusin_niken_juttu)
                = @uusin_niken_juttu.body.html_safe