.widgetcontainer
  .widgettitle
    Luo uusi postaus
  .widgetcontent
    - if can? :new, Post
      = semantic_form_for @post, :html => { :multipart => true } do |f|
        = f.inputs do
          = f.input :title, :label => 'Otsikko'
          %br
          = f.input :category_id, :as => :radio, :label => 'Kategoria', :collection => Category.all
          %br
          - if current_user != nil && logged_in?
            %table
              %tr
                %td
                  = f.radio_button :use_uploaded_image, '1'
                  %br
                  .upload_photo_button
                    %a{:href => '#'} 
                      <input type="button" value="Lataa kuva koneeltasi" />

                %td
                  = f.radio_button :use_uploaded_image, "0"
                  .image_bank_button
                    %a{:href => '#'} 
                      <input type="button" value="Käytä kuvaa pankista" />
          #imagebank
            = render :partial => 'shared/imagebank', :locals => {:f => f}
          #upload_photo
            = f.label :photo, "Lataa koneeltasi kuva"
            %br/
            = f.file_field :photo, :id => "field1"
            Nykyinen kuva
            = image_tag find_img_medium(@post), :width=>'100'
          .field
            = f.cktext_area :body, :toolbar => 'Post', :width=>'600px', :height=>'500px', :language=>'fi', :uiColor => '#AADC6E', :resize_enabled => 'false'
        
        .actions
          = f.submit "Luo uutinen"
      %br/
