= form_for @post do |f|
  .field
    = f.label "Otsikko"
    %br/
    = f.text_field :title
    %br/
    - if can? :new, Post
      %p
        = f.label "Kategoria"
        - for category in Admin::Category.find(:all)
          %div
            = radio_button_tag "post[category_id]", category.id, @post.category_id == category.id
            = category.category_name
  .field
    = f.cktext_area :body, :toolbar => 'Post', :width=>'600px', :height=>'500px', :language=>'fi'
    %br/
  .actions
    = f.submit "Lähetä"