.widgetcontainer
  .widgetcontent
    #generaltitle
      Blogi 
      %span.border
      =@post.user.end_user_name
      ,
      %span.day=@post.created_at.strftime("%d.%m %Y")
      %br
      %span.text
        =@post.title
    #post_text
      %img{:src => find_img_medium(@post),:class => "right", :height => "260", :width => "350"}
     
    #post_text
      = truncate_html(@post.body.last(@post.body.size),:length => @post.body.size).html_safe 
    <div class="fb-like" data-href="http://www.gogolf.fi/posts?id=#{@post.id}" data-send="true" data-width="450" data-show-faces="true"></div>
		
    %table
      %tr
        %td
          = link_to @post.user.end_user_name, @post.user
        %td
          = time_ago_in_words(@post.created_at)
          sitten
        %td
          Katsottu:
          = @post.unique_impression_count
    %br/
    = link_to_if(can?(:edit, Post), 'Muokkaa', edit_post_path(@post)) {}
    = link_to 'Takaisin', posts_path
    #comments_count
      = @post.comments.count
      kommenttia
    #comments
      - if @comments.count > 0
        = render :partial => "comments/comment", :collection => @comments, :parent => @post
    #new_comment
      - form_for [@post, Comment.new()], :remote => true, :id => "new_comment" do |f|
        .field
          = f.label :title, "Otsikko"
          %br/
          = f.text_field :title
        .field
          = f.label :body, "Kommentti"
          %br/
          = f.text_area :body, :size => "30x10"
        .actions
          =f.submit "Lähetä"
- content_for :sidebar do 

  .widgetcontainer
    .widgettitle
      UUSIMMAT BLOGIT
    .widgetcontent
      #side_list
        %ul#tabs
          - @postit.each do |post|
            %img{:src => find_img_medium(post),:class => "right", :height => "50", :width => "50"}
                
            %a{:href => post_url(post)}
              %li
                #generaltitle
                  %span.sidebartext
                    =truncate_html(post.title,:length => 15).html_safe 
                #generaltitle
                  =post.user.end_user_name
                  %span.border
                  %span.day=post.created_at.strftime("%d.%m %Y")
  #emptyspace
-#emptyspace 
  .widgetcontainer
  .widgettitle
  .myspecialtransparenttext
  mikko
  .widgetcontent
  .writenewpostplease
  Oletko samaa mieltä kirjoittajan kanssa? Oletko eri mieltä? Kirjoita vastine tai jatka keskutelua tuomalla aiheeseen uusia näkökulmia.
  Nyt on mahdollisuutesi vaikuttaa aidosti golfmediasi sisältöön - 
  %br
  Ole toimittaja!
  .writenewpostplease
  =link_to "Kirjoita>>", "/posts/new"
  #emptyspace 

-#
  .widgetcontainer
  .widgetsidebartitle
  .myspecialtransparenttext
  mikko
  #banner_top
  .sidebar_a
  =link_to "Pelaajilta pääsivulle >>", posts_path