%h1= @post.title
:erb
  <%= @post.body %>
%br/
%br/
%table
  %tr
    %td
      = link_to @post.user.name, @post.user
    %td
      = @post.created_at.to_s(:long)
    %td
      Katsottu:
      = @post.viewcounter.viewcount
%br/
%br/
= link_to_if(can?(:edit, Post), 'Muokkaa', edit_post_path(@post)) {}
= link_to 'Takaisin', posts_path
