= form_for [@event, @attendance] do |f|
  .field
    = f.label "Kutsu pelaajia"
    - for attendee in User.all
      %div
        - if !@event.requested_attendees.include?(attendee)
          = check_box_tag "attendee_ids[]", attendee.id
          = attendee.end_user_name
  .field
    = f.label "Valitse pelikaverit"
    =# f.autocomplete_field :attendee_email, autocomplete_attendee_email_event_attendances_path
    =# f.text_field_tag 'email', '', :autocomplete => autocomplete_user_email_event_attendances_path
  .actions
    = f.submit
