= form_for [@event, @attendance] do |f|
  .field
    = f.label "Kutsu pelaajia"
    - for attendee in User.all
      %div
        = check_box_tag "attendee_ids[]", attendee.id, @event.attendees.include?(attendee)
        = attendee.name
  .field
    = f.label "Valitse pelikaverit"
    =# f.autocomplete_field :attendee_email, autocomplete_attendee_email_event_attendances_path
    =# f.text_field_tag 'email', '', :autocomplete => autocomplete_user_email_event_attendances_path
  .actions
    = f.submit
