%h2
  Kutsuttuja käyttäjiä
  = @event.requested_attendees.size
- for attendance in @attendances
  = attendance.attendee.end_user_name
  %br/
  = user_thumb(attendance.attendee)
  %br/
  = link_to 'Poista', [@event, attendance], :confirm => 'Are you sure?', :method => :delete
  %br/
  %br/
    
  
= link_to "Takaisin tapahtumaan", @event
= link_to "Kutsu lisää", new_event_attendance_path(@event)

