%h2
  Kutsuttuja käyttäjiä
  = @event.requested_attendees.size
- for attendance in @attendances
  = attendance.attendee.name
  %br/
  = user_thumb(attendance.attendee)
  %br/
  %br/
    
  
= link_to "Takaisin tapahtumaan", @event
= link_to "Kutsu lisää", new_event_attendance_path(@event)

