!!!
%html
  %head
    %title
      GoGolf -
      = @title
  = csrf_meta_tag
  = stylesheet_link_tag "screen", "own", "jquery-ui", "featurelist", "formtastic"
  = javascript_include_tag :defaults, :ckeditor, 'autocomplete-rails.js', 'featurelist'
  %body
    .container
      .span-24.last
        #banner_top1
      .span-24.last
        #banner_top
          %img{:src => "/images/layout/left_first-04.jpg", :alt => "GoGolf.fi"}
          = render :partial => 'shared/buttons'
          %img{:src => "/images/layout/left_right.jpg", :height => "87", :width => "280", :alt => "GoGolf.fi"}
      .span-24.last
        #navigation
          .span-5
            &nbsp
          .span-19.last
            = render :partial => 'shared/subnavigation'
      .span-24.last
        #banner_top
          %img{:src => "/images/layout/bottom_whole.jpg", :width => "950", :alt => "GoGolf.fi"}
      .span-24.last{:class => "content_all"}
        .span-17{:class => "content_all"}
          .ui-widget
            - if @title != nil
              .ui-widget-header{:class => "ui-corner-all"}
                %h2
                  = @title
            #main
              = yield 
              - if ENV["RAILS_ENV"] == "development"
                = debug(params)
        .span-7.last{:class => "content_all"}
          - flash.each do |name, msg|
            .notice
              = content_tag :div, msg, :id => "flash_\#{name}"
          =render :partial => 'shared/sidebar'
          =render :partial => 'shared/sidebar2'
