!!!
%html
  %head
    %title
      GoGolf -
      = @title
  = stylesheet_link_tag "screen", "own", "jquery-ui", "autocomplete-rails"
  = javascript_include_tag :defaults, 'autocomplete-rails'
  = csrf_meta_tag
  %body
    .container
      .span-24.last
        #banner_top
      .span-20
        #header
          %img{:src => "/images/logoGrass1-small.jpg", :alt => "GoGolf.fi"}
      .span-4.last
        #header
          -if !user_signed_in?
            %a.sign_in_button= "Kirjaudu sisään"
            #sign_in2= render :partial => 'devise/sessions/signin'
            %br/
            %a
              .button_s= link_to "Rekisteröidy", "/users/new"
      .span-24.last
        .nav
          %ul.nav
            %li= nav_link "Etusivu", "/site"
            %li= nav_link "Uutiset", posts_path
            %li= nav_link "Linkit", links_path
            %li= nav_link "Kentät", courses_path
            %li= nav_link "Ryhmät", groups_path
            %li= nav_link "Pelit", events_path
            %li= nav_link "Käyttäjät", users_path
            - if user_signed_in?
              %li= link_to "Oma Golf", "/users/#{current_user.id}"
      .span-18
        - if @title != nil
          .ui-widget-header
            %h2
              = @title
        #main
          = yield 
          - if ENV["RAILS_ENV"] == "development"
            = debug(params)
      .span-6.last
        - flash.each do |name, msg|
          .notice
            = content_tag :div, msg, :id => "flash_\#{name}"
        =render :partial => 'shared/sidebar'
        .ui-widget
          .ui-widget-header
            Päivän kysymys
          .ui-widget-content
            Montako kierrosta pelasit kaudella 2010?
        .ui-widget
          .ui-widget-header
            Päivän video
          .ui-widget-content
            Video
            %br/
            %p
        
